body {
  margin: 0%;
  font-family: "Montserrat", sans-serif;
}

#principal {
  background-image: url("../img/texturafondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
}

.imgseccion2 {
  max-width: 100%;
}

.novedadh3 {
  margin-bottom: 3%;
  text-align: start;
}
.tituloseccion1,
.tituloseccion2 {
  margin-bottom: 5%;
  text-align: justify;
}

p {
  font-weight: 300;
}

footer {
  margin-top: 15%;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.linkfooter {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
