body {
  margin: 0%;
  font-family: "Montserrat", sans-serif;
}

.imgseccion2 {
  max-width: 100%;
}

.novedadh3 {
  margin-bottom: 3%;
}
.tituloseccion1,
.tituloseccion2 {
  margin-bottom: 5%;
  text-align: justify;
}

p {
  font-weight: 300;
}
